<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayBacklight</key>
	<real>575.5</real>
	<key>DisplayBrightReflection</key>
	<real>573.10000000000002</real>
	<key>DisplayDarkReflection</key>
	<real>1.1000000000000001</real>
	<key>DisplayLeakage</key>
	<real>0.41899999999999998</real>
	<key>DisplayLowestLevel</key>
	<real>2</real>
	<key>DisplayLowestMeasured</key>
	<real>0.43230000000000002</real>
	<key>DisplayPixelDimensions</key>
	<data>
	AAAOlQAACDQ=
	</data>
	<key>DisplayProductID</key>
	<integer>995</integer>
	<key>DisplayProductName</key>
	<string>Retina Display</string>
	<key>DisplayVendorID</key>
	<integer>12516</integer>
	<key>IODisplayEDID</key>
	<data>
	AP///////wAw5OMDAAAAAAAWAQSVHRB46ku1lFhWkSgfUFQAAAABAQEBAQEBAQEBAQEB
	AQEBzh1W9FAAFjAwIDUANq4QAAAZAAAAAAAAAAAAAAAAAAAAAAAAAAAA/gBMRyBEaXNw
	bGF5CiAgAAAA/gBMUDE0MFdIVS1UUEExAGs=
	</data>
	<key>IOGFlags</key>
	<integer>4</integer>
	<key>scale-resolutions</key>
	<array>
		<data>
		AAAOlQAACDQA
		</data>
		<data>
		AAAMgAAABwgA
		</data>
		<data>
		AAALHAAABkAA
		</data>
		<data>
		AAAI5AAABQAA
		</data>
		<data>
		AAALHAAABkAAAAABACAAAA==
		</data>
		<data>
		AAAKAAAABaAAAAABACAAAA==
		</data>
		<data>
		AAAIVQAABLAAAAABACAAAA==
		</data>
		<data>
		AAAHgAAABDgAAAABACAAAA==
		</data>
		<data>
		AAAFVgAAAwAAAAABACAAAA==
		</data>
		<data>
		AAAFAAAAAtAAAAABACAAAA==
		</data>
		<data>
		AAAIVQAABLAAAAAB
		</data>
		<data>
		AAAHSwAABBoAAAAB
		</data>
		<data>
		AAAGQAAAA4QAAAAB
		</data>
		<data>
		AAAFjgAAAyAAAAAB
		</data>
		<data>
		AAAFVgAAAwAAAAAB
		</data>
		<data>
		AAAFAAAAAtAAAAAB
		</data>
		<data>
		AAADpgAAAg0AAAAB
		</data>
		<data>
		AAAEKwAAAlgAAAAB
		</data>
		<data>
		AAADWAAAAeAAAAAB
		</data>
		<data>
		AAAOlQAACDQAAAAJAKAAAA==
		</data>
		<data>
		AAAMgAAABwgAAAAJAKAAAA==
		</data>
		<data>
		AAALHAAABkAAAAAJAKAAAA==
		</data>
		<data>
		AAAKAAAABaAAAAAJAKAAAA==
		</data>
		<data>
		AAAI5AAABQAAAAAJAKAAAA==
		</data>
		<data>
		AAAIVQAABLAAAAAJAKAAAA==
		</data>
		<data>
		AAAHSwAABBoAAAAJAKAAAA==
		</data>
		<data>
		AAAHgAAABDgAAAAJACAAAA==
		</data>
		<data>
		AAAFjgAAAyAAAAAJACAAAA==
		</data>
		<data>
		AAAFAAAAAtAAAAAJACAAAA==
		</data>
	</array>
	<key>target-default-ppmm</key>
	<real>10.069930100000001</real>
</dict>
</plist>
